@model IEnumerable<UPExciseLTS.Models.BottelingPlan>

@{
    ViewBag.Title = "Botteling Plan Detail";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@using (Html.BeginForm("BrandMaster", "MasterForms", FormMethod.Post, new { @enctype = "multipart/form-data" }))
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)
    <div class="page-content-inner">
        <div class="row ">
            <div class="col-md-12">
                <div class="portlet box purple">
                    <div class="portlet-title">
                        <div class="caption">
                            <i class="fa fa-gift"></i>Botteling Plan Details
                        </div>
                    </div>
                    <div class="portlet-body form" style="background-color: #f5f5f5">
                        <div class="form-body">
                            <div class="form-group col-md-4">
                                <label class="control-label">From Date</label>
                                @Html.TextBox("From Date", "", new { @id = "txtFromDate", @class = "form-control", @required = "required", @Value = "" })
                            </div>
                            <div class="form-group col-md-4">
                                <label class="control-label">To Date</label>
                                @Html.TextBox("To Date", "", new { @id = "txtToDate", @class = "form-control", @required = "required", @Value = "" })
                            </div>
                            <div class="form-group col-md-4">
                                <label class="control-label">Brand</label>
                                @Html.DropDownList("Brand", (IEnumerable<SelectListItem>)ViewBag.Brand, new { @id = "ddlBrewery", @class = "form-control" })
                            </div>
                            <div class="form-group col-md-4">
                                <label class="control-label">Status</label>
                                @Html.DropDownList("PlanStatus", new List<SelectListItem> { new SelectListItem { Text = "--All--", Value = "A" }, new SelectListItem { Text = "Un-Final Plan", Value = "UNP" }, new SelectListItem { Text = "Finalize Plan", Value = "FIP" }, new SelectListItem { Text = "Un-Freeze Plan", Value = "UNFP" }, new SelectListItem { Text = "Freeze Plan", Value = "FRP" } }, new { @id = "ddlMaped", @class = "form-control" })
                            </div>
                            <div class="form-group col-md-4">
                                <label class="control-label">For Mapped/ Unmapped Data</label>
                                @Html.DropDownList("MapUnMaped", new List<SelectListItem> { new SelectListItem { Text = "--Both--", Value = "B" }, new SelectListItem { Text = "Mapped", Value = "Mapped" }, new SelectListItem { Text = "UnMapped", Value = "UnMapped" } }, new { @id = "ddlMaped", @class = "form-control" })
                            </div>
                            <div class="form-group col-md-4">
                                <label class="control-label">Import</label>
                                @Html.DropDownList("Import", new List<SelectListItem> { new SelectListItem { Text = "--Both--", Value = "B" },new SelectListItem { Text = "For UP", Value = "UP" }, new SelectListItem { Text = "For Outside UP", Value = "Outside" } }, new { @id = "ddlImport", @class = "form-control" })
                            </div>
                        </div>
                        <div class="clearfix"></div>
                        <div class="form-actions right">
                            <button type="submit" class="btn green">Search</button>
                            <button type="button" class="btn default">Reset</button>
                        </div>
                    </div>
                    <div class="portlet-body">
                        <div class="table-scrollable">
                            <table class="table table-striped table-bordered table-hover">
                                <tr>
                                    <th scope="col">
                                        @Html.DisplayNameFor(model => model.PlanId)
                                    </th>
                                    <th scope="col">
                                        @Html.DisplayNameFor(model => model.BreweryId)
                                    </th>
                                    <th scope="col">
                                        @Html.DisplayNameFor(model => model.ProductionforStateCode)
                                    </th>
                                    <th scope="col">
                                        @Html.DisplayNameFor(model => model.IsStateSame)
                                    </th>
                                    <th scope="col">
                                        @Html.DisplayNameFor(model => model.BrandId)
                                    </th>
                                    <th scope="col">
                                        @Html.DisplayNameFor(model => model.NumberOfCases)
                                    </th>
                                    <th scope="col">
                                        @Html.DisplayNameFor(model => model.QunatityInCaseExport)
                                    </th>
                                    <th scope="col">
                                        @Html.DisplayNameFor(model => model.BulkLiter)
                                    </th>
                                    <th scope="col">
                                        @Html.DisplayNameFor(model => model.AlcoholicLiter)
                                    </th>
                                    <th scope="col">
                                        @Html.DisplayNameFor(model => model.TotalUnitQuantity)
                                    </th>
                                    <th scope="col">
                                        @Html.DisplayNameFor(model => model.DateOfPlan)
                                    </th>
                                    <th scope="col">
                                        @Html.DisplayNameFor(model => model.BatchNo)
                                    </th>
                                    <th scope="col">
                                        @Html.DisplayNameFor(model => model.MappedOrNot)
                                    </th>
                                    <th scope="col">
                                        @Html.DisplayNameFor(model => model.IsPlanFinal)
                                    </th>
                                    <th scope="col"></th>
                                </tr>

                                @foreach (var item in Model)
                                {
                                    <tr>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.PlanId)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.BreweryId)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.ProductionforStateCode)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.IsStateSame)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.BrandId)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.NumberOfCases)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.QunatityInCaseExport)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.BulkLiter)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.AlcoholicLiter)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.TotalUnitQuantity)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.DateOfPlan)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.BatchNo)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.MappedOrNot)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.IsPlanFinal)
                                        </td>
                                        <td>
                                            @Html.ActionLink("Edit", "EditPlan", new { id = item.PlanId }) |
                                            @Html.ActionLink("Finalize", "PlanFinalize", new { id = item.PlanId }) |
                                            @Html.ActionLink("Freeze", "PlanFreeze", new { id = item.PlanId }) |
                                        </td>
                                    </tr>
                                }

                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
}

