@model  UPExciseLTS.Models.BrandMaster
@{
    ViewBag.Title = "Brand Master";
    Layout = "~/Views/Shared/_Layout.cshtml";
    if (ViewData["Result"] != null && ViewData["Result"].ToString().Trim() !=string.Empty)
    {
        
    }
}

<script type="text/javascript">
    var specialKeys = new Array();
        specialKeys.push(47); // for Forward Slash(/)
        specialKeys.push(8); //Backspace
        specialKeys.push(9); // Tab
        specialKeys.push(46); // for .
        specialKeys.push(37); // for left Arrow
        //  specialKeys.push(39); // for Right Arrow
        function IsNumeric(e) {
            var keyCode = e.which ? e.which : e.keyCode
            var ret = ((keyCode >= 48 && keyCode <= 57) || specialKeys.indexOf(keyCode) != -1); // For Decimal To All Number
            if (ret == false) {
                alert("Only numaric value allowed.");
            }
            return ret;
        }
</script>
@using (Html.BeginForm("BrandMaster", "MasterForms", FormMethod.Post, new { @enctype = "multipart/form-data" }))
{
 @Html.AntiForgeryToken()
<div class="page-content-inner">
    <div class="row ">
        <div class="col-md-12">
            <div class="portlet box purple">
                <div class="portlet-title">
                    <div class="caption">
                        <i class="fa fa-gift"></i>Brand Master
                    </div>
                </div>
                <div class="portlet-body form"  style="background-color:#f5f5f5">
                        <div class="form-body">
                            <div class="form-group col-md-4">
                                <label class="control-label">Brewery</label>
                                <div >
                                 @*   <i class="fa fa-bell-o"></i>*@
                                    @Html.DropDownListFor(m => m.BreweryId, (IEnumerable<SelectListItem>)ViewBag.Brewery, new { @id = "ddlBrewery", @class = "form-control" })
                                </div>
                            </div>
                            <div class="form-group col-md-4">
                                <label class="control-label">Brand Name</label>
                                @Html.TextBoxFor(m => m.BrandName, new { @id = "txtBrandName", @class = "form-control" , @required = "required"  })
                                
                            </div>
                            <div class="form-group col-md-4">
                                <label class="control-label">Brand Registration Number</label>
                                <div >
                                    @*<span class="input-group-addon">
                                        <i class="fa fa-envelope"></i>
                                    </span>*@
                                    @Html.TextBoxFor(m => m.BrandRegistrationNumber, new { @id = "txtBrandRegistrationNumber", @class = "form-control" , @required = "required"  })
                                </div>
                            </div>
                            <div class="form-group  col-md-4">
                                <label class="control-label">Strength</label>
                                <div>
                                    @Html.TextBoxFor(m => m.Strength, new { @id = "txtStrength", @class = "form-control",@onkeyPress="return IsNumeric(event);" , @required = "required"  })
                                </div>
                            </div>
                            <div class="form-group   col-md-4">
                                <label class="control-label">Liquor Type</label>
                                <div>
                                    @Html.TextBoxFor(m => m.LiquorType, new { @id = "txtLinquorType", @class = "form-control" , @required = "required" })
                                </div>
                            </div>
                            <div class="form-group   col-md-4">
                                <label class="control-label">License Type</label>
                                <div>
                                    @Html.TextBoxFor(m => m.LicenceType, new { @id = "txtLicenseType", @class = "form-control", @required = "required"  })
                                </div>
                            </div>
                            <div class="form-group   col-md-4">
                                <label class="control-label">License No</label>
                                <div>
                                    @Html.TextBoxFor(m => m.LicenceNo, new { @id = "txtLicenseNo", @class = "form-control", @required = "required"  })
                                </div>
                            </div>
                            <div class="form-group   col-md-4">
                                <label class="control-label">Excise TIN</label>
                                <div>
                                    @Html.TextBoxFor(m => m.ExiciseTin, new { @id = "txtExiciseTin", @class = "form-control" })
                                </div>
                            </div>
                            <div class="form-group   col-md-4">
                                <label class="control-label">MRP</label>
                                <div >
                                    @Html.TextBoxFor(m => m.MRP, new { @id = "txtMRP", @class = "form-control", @onkeyPress = "return IsNumeric(event);", @required = "required"  })
                                </div>
                            </div>
                            <div class="form-group   col-md-4">
                                <label class="control-label">XFactoryPrice</label>
                                <div >
                                    @Html.TextBoxFor(m => m.XFactoryPrice, new { @id = "txtXFactoryPrice", @class = "form-control", @onkeyPress = "return IsNumeric(event);" })
                                </div>
                            </div>
                            <div class="form-group   col-md-4">
                                <label class="control-label">Add Duty</label>
                                <div>
                                    @Html.TextBoxFor(m => m.AdditionalDuty, new { @id = "txtAdditionalDuty", @class = "form-control", @onkeyPress = "return IsNumeric(event);", @required = "required"  })
                                </div>
                            </div>
                            <div class="form-group   col-md-4">
                                <label class="control-label">Quantity (In Case)</label>
                                <div>
                                    @Html.TextBoxFor(m => m.QuantityInCase, new { @id = "txtQuantityInCase", @class = "form-control", @onkeyPress = "return IsNumeric(event);" , @required = "required" })
                                </div>
                            </div>
                            <div class="form-group   col-md-4">
                               <label class="control-label">Quantity (In Bottle ML)</label>
                                 <div>
                                    @Html.TextBoxFor(m => m.QuantityInBottleML, new { @id = "txtQuantityInBottleML", @class = "form-control", @onkeyPress = "return IsNumeric(event);", @required = "required"  })
                                </div>
                            </div>
                            <div class="form-group   col-md-4">
                               <label class="control-label">ExciseDuty</label>
                                 <div>
                                    @Html.TextBoxFor(m => m.ExciseDuty, new { @id = "txtQuantityInBottleML", @class = "form-control", @onkeyPress = "return IsNumeric(event);", @required = "required"  })
                                </div>
                            </div>
                            <div class="form-group   col-md-4">
                                <label class="control-label">Export Box-Size</label>
                                <div>
                                    @Html.TextBoxFor(m => m.ExportBoxSize, new { @id = "txtExportBoxSize", @class = "form-control", @onkeyPress = "return IsNumeric(event);", @required = "required"  })
                                </div>
                            </div>
                            <div class="form-group   col-md-4">
                                <label class="control-label">Remark</label>
                                <div>
                                    @Html.TextBoxFor(m => m.Remark, new { @id = "txtRemarks", @class = "form-control" })
                                </div>
                            </div>
                        </div>
                          <div style="clear:both"></div>
                        <div class="form-actions right">
                            <button type="submit" class="btn green" onclick="myfunction()">Submit</button>
                            <button type="button" class="btn default">Cancel</button>
                        </div>
                </div>
            </div>
        </div>
    </div>
</div> 
<div class="page-content-inner">
    <div class="row">
        <div class="col-md-12">
            <div class="portlet box purple">
                <div class="portlet-title">
                    <div class="caption">
                        <i class="fa fa-cogs"></i>Brand Details
                    </div>
                </div>
                <div class="portlet-body">
                    <div class="table-scrollable">
                        @*<table class="table table-striped table-bordered table-hover">
                            <thead>
                                <tr>
                                    <th scope="col">
                                        @Html.DisplayNameFor(model => model.BrandId)
                                    </th>
                                    <th scope="col">
                                        @Html.DisplayNameFor(model => model.Brand)
                                    </th>
                                    <th scope="col">
                                        @Html.DisplayNameFor(model => model.LicenseDetails)
                                    </th>
                                    <th scope="col">
                                        @Html.DisplayNameFor(model => model.Strength)
                                    </th>
                                    <th scope="col">
                                        @Html.DisplayNameFor(model => model.CategoryId)
                                    </th>
                                    <th scope="col">
                                        @Html.DisplayNameFor(model => model.LicenseTypeId)
                                    </th>
                                    <th scope="col">
                                        @Html.DisplayNameFor(model => model.PackageName)
                                    </th>
                                    <th scope="col">
                                        @Html.DisplayNameFor(model => model.ExciseTin)
                                    </th>
                                    <th scope="col">
                                        @Html.DisplayNameFor(model => model.MRP)
                                    </th>
                                    <th scope="col">
                                        @Html.DisplayNameFor(model => model.EDP)
                                    </th>
                                    <th scope="col">
                                        @Html.DisplayNameFor(model => model.AddDutt)
                                    </th>
                                    <th scope="col">
                                        @Html.DisplayNameFor(model => model.Quantity)
                                    </th>
                                    <th scope="col">
                                        @Html.DisplayNameFor(model => model.Duty)
                                    </th>
                                    <th scope="col">
                                        @Html.DisplayNameFor(model => model.NumInCase)
                                    </th>
                                </tr>
                            </thead>
                            @*<tbody>
                                @foreach (var item in Model)
                                        {
                                        <tr>
                                            <td>
                                                @Html.DisplayFor(modelItem => item.BrandId)
                                            </td>
                                            <td>
                                                @Html.DisplayFor(modelItem => item.Brand)
                                            </td>
                                            <td>
                                                @Html.DisplayFor(modelItem => item.LicenseDetails)
                                            </td>
                                            <td>
                                                @Html.DisplayFor(modelItem => item.Strength)
                                            </td>
                                            <td>
                                                @Html.DisplayFor(modelItem => item.CategoryId)
                                            </td>
                                            <td>
                                                @Html.DisplayFor(modelItem => item.LicenseTypeId)
                                            </td>
                                            <td>
                                                @Html.DisplayFor(modelItem => item.PackageName)
                                            </td>
                                            <td>
                                                @Html.DisplayFor(modelItem => item.ExciseTin)
                                            </td>
                                            <td>
                                                @Html.DisplayFor(modelItem => item.MRP)
                                            </td>
                                            <td>
                                                @Html.DisplayFor(modelItem => item.EDP)
                                            </td>
                                            <td>
                                                @Html.DisplayFor(modelItem => item.AddDutt)
                                            </td>
                                            <td>
                                                @Html.DisplayFor(modelItem => item.Quantity)
                                            </td>
                                            <td>
                                                @Html.DisplayFor(modelItem => item.Duty)
                                            </td>
                                            <td>
                                                @Html.DisplayFor(modelItem => item.NumInCase)
                                            </td>
                                            <td>
                                                @Html.ActionLink("Edit", "Edit", new { /* id=item.PrimaryKey */ }) |
                                                @Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ }) |
                                                @Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })
                                            </td>
                                        </tr>
                                        }
                            </tbody>
                        </table>*@
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
}