@model UPExciseLTS.Models.BOLogin
@{
    ViewBag.Title = "ResetPassword";
    Layout = "~/Views/Shared/_LandingPageLayout.cshtml";
}

@*<link rel="stylesheet" href="~/vendor/bootstrap/css/bootstrap.min.css">
<link rel="stylesheet" href="~/vendor/font-awesome/css/font-awesome.min.css">
<link rel="stylesheet" href="~/css1/fontastic.css">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Poppins:300,400,700">
<link rel="stylesheet" href="~/css1/style.default.css" id="theme-stylesheet">
<link rel="stylesheet" href="~/css1/custom.css">
<link href="~/css/sweet-alert.css" rel="stylesheet" />*@
<!-- END-->

<style>
    .wid {
        width: 100%;
    }
</style>

<style>

    .sweet-alert h2 {
        color: blue;
        font-size: medium;
        text-align: center;
        font-weight: 600;
        text-transform: none;
        position: relative;
    }
</style>


<style>

    .mainbody,
    .header,
    .footer {
        padding: 5px;
        background-color: #ffff;
    }

    .mainbody {
        margin-top: 0;
        overflow: auto;
        background-color: #ffff;
        padding: 50px;
        font-family: "Poppins", sans-serif,inherit;
        font-size: inherit;
    }

    .header {
        border-bottom: 1px solid #EEE;
        background-color: #33b35a;
        color: #ffff;
        height: 80px;
        -webkit-border-top-left-radius: 5px;
        -webkit-border-top-right-radius: 5px;
        -moz-border-radius-topleft: 5px;
        -moz-border-radius-topright: 5px;
        border-top-left-radius: 5px;
        border-top-right-radius: 5px;
        padding-top: 30px;
        font-size: 20px;
        padding-left: 15px;
    }

    .wid {
        height: 30px;
    }

    label {
        font-family: "Poppins", sans-serif;
        font-weight: 500 !important;
        font-size: 16px;
    }
</style>


    @if (ViewBag.msg != string.Empty && ViewBag.msg != null)
    {
        var msg = ViewBag.msg;

        @*@Html.Raw("<script language='javascript' type='text/javascript'>alert('" + msg + "');</script>");
        @Html.Raw("<script language='javascript' type='text/javascript'>window.location='../Home/Home';</script>");*@
    }
    @using (Html.BeginForm())
    {
        @Html.ValidationSummary()
        @Html.AntiForgeryToken()

        <div class="page login-page">
            <div class="container d-flex align-items-center">
                <div class="form-holder" style="height: 80%">

                    <div class="row" style="width: 70%; margin-left: 15%;">


                        <div class="col-lg-12 " style="border-radius: 5px;">

                            <div class="form d-flex align-items-center">
                                <div class="content">
                                    <center>

                                    </center>

                                    <div class="header"><i class="fa fa-key"></i>Change Password -</div>
                                    <div class="mainbody">
                                        <form id="login-form" method="post" style="max-width: 100% !important">
                                            <div class="form-group">

                                                <label for="login-username" class="label-custom" id="lbltxt1">User Name / उपयोगकर्ता नाम</label>
                                                @*  <input id="login-username" type="text" name="loginUsername" required="">*@
                                                @Html.TextBoxFor(Model => Model.UserName, new { @id = "txtUserName", @required = "required", @class = "wid", @readonly = "readonly" })
                                                @*//  @Html.TextBoxFor(Model => Model.TypeOfUser, new { @id = "txtUserNam1e", @required = "required", @class = "wid", @readonly = "readonly" })*@
                                                @Html.HiddenFor(Model => Model.RoleId)
                                            </div>
                                            <div class="form-group">
                                                <label for="login-password" class="label-custom">Old Password / पुराना पासवर्ड</label>
                                                @Html.PasswordFor(Model => Model.OldPassword, new { @id = "txtOldPassword", @required = "required", @class = "wid" })
                                            </div>
                                            <div class="form-group">
                                                <label for="login-password" class="label-custom">New Password / नया पासवर्ड</label>
                                                @Html.PasswordFor(Model => Model.Password, new { @id = "txtPassword", @class = "wid" })
                                                @Html.ValidationMessageFor(Model => Model.Password)
                                                <b><span style="color: red">Note-</span></b>
                                                Enter Alphanumeric Characters to secure your Password with at least one letter in capital,one numeric and one special character of !#%^*-_@@.Password length must be at least 8 and maximum 20 characters.
                                            </div>
                                            <div class="form-group">
                                                <label for="login-password" class="label-custom">Confirm Password  / पासवर्ड की पुष्टि करें</label>
                                                @Html.PasswordFor(Model => Model.NewPassword, new { @id = "txtConfPassword", @class = "wid" })
                                                @Html.ValidationMessageFor(Model => Model.NewPassword)
                                            </div>
                                            @* <a id="login" class="btn btn-primary">Login</a>*@
                                            <center>
                                                <div style="display:inline;">
                                                    <input type="submit" id="login" class="btn btn-success" onclick="HashPwdwithSalt();" />
                                                    <input type="submit" value="Cancel" class="btn btn-danger" style="margin-bottom: 20px;" />
                                                </div>

                                            </center>
                                            <!-- This should be submit button but I replaced it with <a> for demo purposes-->
                                        </form>
                                    </div>

                                </div>

                            </div>
                        </div>

                    </div>
                </div>
            </div>
            <div class="copyrights text-center">
                <p>Powered by <a href="www.nic.in" class="external">NIC</a></p>

            </div>
        </div>

    }












    <!-- Javascript START-->


    @*<script src="~/js/jquery-3.2.1.js"></script>
    <script src="/vendor/popper.js/umd/popper.min.js"></script>
    <script src="/vendor/bootstrap/js/bootstrap.min.js"></script>
    <script src="/vendor/jquery.cookie/jquery.cookie.js"></script>
    <script src="/vendor/chart.js/Chart.min.js"></script>
    <script src="/vendor/jquery-validation/jquery.validate.min.js"></script>
    <script src="/js1/front.js"></script>
    <script src="~/js/sweet-alert.min.js"></script>*@

    <script>

        function changeText(txt) {
            debugger
            if (txt == "User name") {

                $('#login').attr('href', '../Home/AllApplications');
            }

            if (txt == "Registration") {

                $('#login').attr('href', '../User/UserDashBoard');
            }

            $('#lbltxt').text(txt);
        }

    </script>

    <script>

        function HashPwdwithSalt() {
            debugger

            var PasswordPattern = '^(?=.*[0-9])(?=.*[!#$%^&*])[0-9a-zA-Z!#$%^&*0-9]{8,}$';
            // var salt = $('#hdnsalt').val();

            var salt = '@Session["salt"]';

            if ($('#txtConfPassword').val() == "" || $('#txtConfPassword').val() == undefined || $('#txtOldPassword').val() == "" || $('#txtOldPassword').val() == undefined || $('#txtPassword').val() == "" || $('#txtPassword').val() == undefined) {
                alert("Please all fields");
                event.preventDefault();
                return false;
            }

            //Confirm Policy here-----

            //alert("hi check this");
            var anUpperCase = /[A-Z]/;
            var aLowerCase = /[a-z]/;
            var aNumber = /[0-9]/;
            var aSpecial = /[!|#|%|^|*|-|_|@@]/;
            var value = $('#txtConfPassword').val();
            var value2 = $('#txtPassword').val();

            if (value2.length >20 || value2.length <8) {
                swal("Please length policy not matched.");
                event.preventDefault();
                return false;
            }

            if (value2.search(anUpperCase) == -1 ||
        value2.search(aLowerCase) == -1 || value2.search(aNumber) == -1 || value2.search(aSpecial) == -1) {
                $('#txtPassword').val('');
                swal("Please check the password policy.");
                event.preventDefault();
                return false;
            }

            if (value.length > 20 || value.length < 8) {
                swal("Please length policy not matched.");
                event.preventDefault();
                return false;
            }

            if (value.search(anUpperCase) == -1 ||
        value.search(aLowerCase) == -1 || value.search(aNumber) == -1 || value.search(aSpecial) == -1) {
                $('#txtConfPassword').val('') ;
                swal("Please check the password policy.");
                event.preventDefault();
                return false;
            }




            //-------

            if ($('#txtConfPassword').val() != $('#txtPassword').val()) {
                swal("New Password and confirm password not matched");
                event.preventDefault();
                return false;
            }

            $('#txtOldPassword').val(hex_md5($('#txtOldPassword').val()));
            $('#txtOldPassword').val(hex_md5($('#txtOldPassword').val() + salt));
            $('#txtPassword').val(hex_md5($('#txtPassword').val()));
            $('#txtConfPassword').val(hex_md5($('#txtConfPassword').val()));



        }
    </script>
    @{
        if (@Session["salt"] != null)
        {
            <script>

            $('#hdnsalt').val('@Session["salt"]');

            </script>
        }
    }

