<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>

    @* @Styles.Render("~/Content/css")
        @Scripts.Render("~/bundles/modernizr")*@
    @* <link href='http://fonts.googleapis.com/css?family=Roboto:100,400,300,500,700' rel='stylesheet' type='text/css'>*@
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    @*    <link href="~/Content/bootstrap.min.css" rel="stylesheet" />*@
    @* <link href="~/Scripts/assets/global/plugins/bootstrap/css/bootstrap.min.css" rel="stylesheet" />*@
    <link href="~/Content/Metro/plugins/simple-line-icons/simple-line-icons.min.css" rel="stylesheet" />
    <link href="~/Content/Metro/style.css" rel="stylesheet" />
    <link href="http://fonts.googleapis.com/css?family=Open+Sans:400,300,600,700&subset=all" rel="stylesheet" type="text/css" />
    <link href="~/Scripts/assets/global/plugins/font-awesome/css/font-awesome.min.css" rel="stylesheet" />
    <link href="~/Scripts/assets/global/plugins/simple-line-icons/simple-line-icons.min.css" rel="stylesheet" />
    @*
            <link href="~/Scripts/assets/global/plugins/bootstrap-switch/css/bootstrap-switch.min.css" rel="stylesheet" />

        @*    <link href="~/Scripts/assets/global/plugins/bootstrap-switch/css/bootstrap-switch.min.css" rel="stylesheet" />*@
    <link href="~/Scripts/assets/global/css/components.min.css" rel="stylesheet" />
    <link href="~/Scripts/assets/global/css/plugins.min.css" rel="stylesheet" />
    <link href="~/Scripts/assets/layouts/layout3/css/layout.min.css" rel="stylesheet" />
    <link href="~/Scripts/assets/layouts/layout3/css/themes/default.min.css" rel="stylesheet" />
    <link href="~/Scripts/assets/layouts/layout3/css/custom.min.css" rel="stylesheet" />
    <link href="~/Scripts/assets/pages/css/login-2.min.css" rel="stylesheet" />
    <script src="~/Scripts/assets/global/plugins/select2/js/select2.min.js"></script>
    <script src="~/Scripts/assets/global/plugins/jquery-validation/js/jquery.validate.min.js"></script>
    <script src="~/Scripts/assets/global/plugins/jquery-validation/js/additional-methods.min.js"></script>

    <link rel="shortcut icon" href="favicon.ico" />


</head>
<body class="page-container-bg-solid">

    @RenderBody()

    @*@Scripts.Render("~/bundles/jquery")*@

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

    @*
        <script src="~/Scripts/jquery-3.0.0.min.js"></script>
        <script src="~/Scripts/bootstrap.min.js"></script>*@
    <script src="~/Content/Metro/plugins/jquery.youtube.js"></script>
    <script src="~/Scripts/sha256.js"></script>

    @*<script src="~/Scripts/Scripts/assets/global/plugins/js.cookie.min.js"></script>*@
    <script src="~/Scripts/assets/global/plugins/jquery-slimscroll/jquery.slimscroll.min.js"></script>
    <script src="~/Scripts/assets/global/plugins/jquery.blockui.min.js"></script>
    <script src="~/Scripts/assets/global/plugins/bootstrap-switch/js/bootstrap-switch.min.js"></script>
    <script src="~/Scripts/assets/global/scripts/app.min.js"></script>
    <script src="~/Scripts/assets/layouts/layout3/scripts/layout.min.js"></script>
    <script src="~/Scripts/assets/layouts/layout3/scripts/demo.min.js"></script>
    <script src="~/Scripts/assets/layouts/global/scripts/quick-sidebar.min.js"></script>
    <script src="~/Scripts/assets/layouts/global/scripts/quick-nav.min.js"></script>
    <script src="~/Scripts/assets/pages/scripts/login.min.js"></script>
    <script src="~/Scripts/sha256.js"></script>
    <script src="~/Scripts/md5.js"></script>
    @*@RenderSection("scripts", required: false)*@

    <script>
        $(document).ready(function () {
            $("#BtnSingInSingUp").click(function () {
                $.ajax({
                    url: "/Login/Login",
                    type: "GET",
                    data: null,
                    dataType: 'html',
                    success: function (data) {
                        $("#DialogPlaceholder").html(data);
                    }
                    
                });

                $('#ModalTitle').text('Login');
                $("#ModalContainer").modal('show');
            });
        });


     
    </script>

    @Html.Partial("~/Views/Shared/_CommonPopupModel.cshtml")
</body>
</html>
